 <div class="user-details">
  <h1> Intro </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
	<div class="tech">
		<h2>Tools & Technologies</h2>
		<span class="iconify" data-width="100"></span>
		<i class="devicon-python-plain-wordmark colored"></i>
		<i class="devicon-mysql-plain-wordmark colored"></i>
		<i class="devicon-html5-plain-wordmark colored"></i>
		<i class="devicon-photoshop-plain colored"></i>
		<i class="devicon-premierepro-plain colored"></i>
        <span class="iconify" data-width="75"></span>
	</div>
</div>
