<div>
    <div id="nav" class="navbar navbar-fixed-top" data-spy="affix" style="font-family: 'Roboto Slab', serif;font-size: 18px">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right ">
                    <li><a class="link" href="#about" data-scroll>About Me</a></li>
                    <li><a class="link" href="https://drive.google.com/file/d/1MEceI1DJCIuPDhYMGxs2ByoWhAYzOVw4/view">Resume</a></li>
                    <li><a class="link" href="#projects" data-scroll>Projects</a></li>
                    <li><a class="link" href="#contact" data-scroll>Contact</a></li>
                </ul>
            </div>
        </div>
    </div><!-- /.navbar -->
</div>

<!--<nav class="navbar navbar-default navbar-fixed-top navbar-light" data-spy="affix">-->
<!--    <div class="container">-->
<!--&lt;!&ndash;        <div class="navbar-header">&ndash;&gt;-->
<!--&lt;!&ndash;            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="sr-only">Toggle navigation</span>&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;            </button>&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="navbar-brand" href="#">Project name</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <div id="navbar" class="navbar-collapse collapse">-->
<!--&lt;!&ndash;            <ul class="nav navbar-nav">&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="active"><a href="#">Home</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li><a href="#">About</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li><a href="#">Contact</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                <li class="dropdown">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    <ul class="dropdown-menu">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <li><a href="#">Action</a></li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <li><a href="#">Another action</a></li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <li><a href="#">Something else here</a></li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <li role="separator" class="divider"></li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <li class="dropdown-header">Nav header</li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <li><a href="#">Separated link</a></li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <li><a href="#">One more separated link</a></li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    </ul>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                </li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            </ul>&ndash;&gt;-->
<!--            <ul class="nav navbar-nav navbar-right">-->
<!--                <li><a class="link" href="#about" data-scroll>About Me</a></li>-->
<!--                <li><a class="link" href="https://drive.google.com/file/d/1HQxz9AheALGwlfASWtBJ2BxyDB5AgrHe/view?usp=sharing">Resume</a></li>-->
<!--                <li><a class="link" href="#projects" data-scroll>Projects</a></li>-->
<!--                <li><a class="link" href="#contact" data-scroll>Contact</a></li>-->
<!--            </ul>-->
<!--        </div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
<!--    </div>-->
<!--</nav>-->