<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="golang" src="{{ "/assets/img/unitbox.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project UnitBox </h3>
    <p>
    <ul>
      <li> OS Library </li>
      <li> Pathlib Module </li>
      <li> Dictionary </li>
    </ul>
    The project segregates files on the basis of their respective formats. </p>
    <!-- <a class="project-link" href="https://github.com/RishabhGupta34/GoChat" style="padding-left: 1.2em;padding-right: 1.2em;">GitHub Repo</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="self-driving" src="{{ "/assets/img/finger_detection.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Finger Detection </h3>
    <p>
    <ul>
      <li> Python </li>
      <li> Image Processing </li>
      <li> OpenCV </li>
      <li> OSS </li>
    </ul>
    Differentiating the user's hand and tracking finger tip movement. </p>
    <!-- <a class="project-link" href="https://github.com/RishabhGupta34/Self_Driving_Car" style="padding-left: 1.2em;padding-right: 1.2em;">GitHub Repo</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Rapid_Image_Colorization" src="{{ "/assets/img/smart_attendance.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Smart Attendance </h3>
    <ul>
      <li> Python </li>
      <li> Deep Learning </li>
      <li> Convolution Neural Networks </li>
      <li> OpenCV </li>
      <li> Numpy </li>
    </ul>
    <p>to make a Face Recognition Attendance System which helps to take attendance automatically, efficiently and effectively.
</p>
    <!-- <a class="project-link" href="https://github.com/RishabhGupta34/Linkedin_Automation" style="padding-left: 1.2em;padding-right: 1.2em;">GitHub Repo</a> -->
  </div>
</div>